.page-footer__copyright {
  padding-bottom: 23px;
  padding-right: 83px;
  padding-left: 83px;
}

@media (min-width: @tablet-width) {
  .page-footer__copyright {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
