.hotel-search {
  text-align: center;
}

.hotel-search__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 48px;
  padding-right: 20px;
  padding-left: 20px;
}

.hotel-search__title {
  padding-top: 30px;
  font-size: 21px;
  font-weight: @title-weight;
  text-transform: @title-transform;
  line-height: @text-height;
}

.hotel-search__text {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 29px;
  max-width: 458px;
  line-height: 26px;
}

.hotel-search__button {
  margin-top: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 16%;
  padding-left: 16%;
  min-height: 59px;
  font-size: 21px;
  font-weight: @title-weight;
  color: @nav-color;
  text-align: center;
  text-transform: @text-transform;
  line-height: @text-height;
  background-color: #81b3d2;
}

.hotel-search__button:hover {
  background-color: #669ec0;
}

.hotel-search__button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.hotel-search__button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .hotel-search__wrapper {
    padding-bottom: 58px;
  }

  .hotel-search__button {
    padding-top: 14px;
    padding-right: 0;
    padding-left: 0;
    width: 458px;
  }

  .hotel-search__title {
    padding-top: 55px;
    padding-bottom: 17px;
    font-size: 30px;
  }

  .hotel-search__text {
    padding-top: 13px;
    padding-bottom: 39px;
    padding-right: 20%;
    padding-left: 20%;
    white-space: pre-line;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    margin: 0 auto;
    max-width: 1200px;
  }

  .hotel-search__wrapper {
    padding-bottom: 64px;
  }

  .hotel-search__button {
    margin-top: 5px;
    margin-bottom: 2px;
  }
}
