.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__list--show {
  display: block;
}

.main-nav--hide {
  display: none;
}

.main-nav__item {
  padding: 8px 0;
  font-size: @title-size;
  text-transform: @title-transform;
  text-align: center;
  font-weight: @title-weight;
  line-height: @title-height;
  color: @nav-color;
  background-color: @nav-backcolor;
  box-shadow:
    inset 0 -1px 0 0 #678fa8,
    inset 0 1px 0 0 #9ac2db;
  list-style: none;
}

.main-nav__item:last-child {
  box-shadow: inset 0 -4px 10px -3px rgba(0, 0, 0, 0.3);
}

.main-nav__item:hover {
  background-color: #669ec0;
}

.main-nav__item:active {
  background-color: #5496bd;
}

.main-nav__item:first-child {
  position: relative;
  box-shadow: inset 0 -1px 0 0 #678fa8;
}

.main-nav__link {
  display: block;
}

.main-nav__link:active {
  color: #88b6d1;
}

.main-nav__button {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon-cross.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__button--hide {
  display: none;
}

.main-nav__button--show {
  display: block;
}

.main-nav__logo-image {
  position: absolute;
  top: 223px;
  left: 0;
  right: 0;
  margin: auto;
  width: 104px;
  height: 85px;
  z-index: 10;
}

.main-nav__logo-image--up {
  top: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin: 0;
    width: auto;
    min-height: 58px;
  }

  .main-nav__wrapper {
    padding-top: 5px;
    padding-bottom: 8px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main-nav__item {
    flex-basis: 20%;
    font-size: @text-size;
    text-transform: @title-transform;
    font-weight: @title-weight;
    line-height: @text-height;
    color: @title-color;
    box-shadow: none;
    background-color: @main-backcolor;
    list-style: none;
  }

  .main-nav__item:first-child {
    box-shadow: none;
  }

  .main-nav__item:last-child {
    box-shadow: none;
  }

  .main-nav__item:hover {
    background-color: #ffffff;
  }

  .main-nav__item:active {
    background-color: #ffffff;
  }

  .main-nav__link:hover {
    color: #81b3d2;
  }

  .main-nav__link:active {
    color: #d6d0cc;
  }

  .main-nav__link--active {
    color: #766357;
  }

  .main-nav__link--active:hover {
    color: #604e43;
  }

  .main-nav__link--active:active {
    color: #d6d0cc;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 20%;
  }

  .main-nav__logo-image {
    top: 0;
    width: auto;
    height: auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin: 0 auto;
    max-width: 1200px;
  }
}
