.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.site-list__item {
  padding: 8px 0;
  font-size: @title-size;
  text-transform: @title-transform;
  text-align: center;
  font-weight: @title-weight;
  line-height: @title-height;
  color: @nav-color;
  background-color: @nav-backcolor;
  box-shadow:
  inset 0 -1px 0 0 #678fa8,
  inset 0 1px 0 0 #9ac2db;
  list-style: none;
}

.site-list__item:last-child {
  box-shadow: inset 0 -4px 10px -3px rgba(0, 0, 0, 0.3);
}

.main-item {
  box-shadow: none;
  box-shadow: inset 0 -1px 0 0 #678fa8;
  position: relative;
}

.exit-button {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  background-image: url('../img/icon-cross.svg');
  background-color: transparent;
  border: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    min-height: 58px;
  }

  .main-nav__wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .site-list__item {
    flex-basis: 20%;
    font-size: @text-size;
    text-transform: @title-transform;
    font-weight: @title-weight;
    line-height: @text-height;
    color: @title-color;
    box-shadow: none;
    background-color: @main-backcolor;
    list-style: none;
  }

  .site-list__item:last-child {
    box-shadow: none;
  }

  .exit-button {
    display: none;
  }

  .photo {
    margin-right: 20%;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    display: none;
  }

  .photo-nav__wrapper {
    display: flex;
  }

  .photo-nav__wrapper::before {
    content: "";
    position: absolute;
    top: -105px;
    right: 0;
    left: 0;
    margin: auto;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
    width: 0;
    height: 0;
    border: 85px solid #81b3d2;
    border-bottom-left-radius: 10px;


  }
}
