.multimedia__photo-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.multimedia__photo-author {
  text-transform: none;
}

.multimedia__title {
  padding: 0;
  margin: 0;
  padding-top: 43px;
  padding-bottom:38px;
  padding-right: 96px;
  padding-left: 96px;
}

.multimedia__text {
  padding: 0;
  margin: 0;
  padding-bottom:32px;
  padding-right: 25px;
  padding-left: 25px;
}

.photo-list__item-container {
  padding: 0;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

.multimedia__image-container {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}

.multimedia__photo-title {
  padding-bottom: 12px;
}

.multimedia__photo-author {
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
}

.photo-list__rating {
  padding-bottom: 23px;
}
