.photo-list__item {
  box-shadow: 0 1px 0 0 #e5e5e5;
}

.photo-list__item-container {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .photo-list__item {
    flex-basis: 50%;
    background-color: #f2f2f2;
    box-shadow: none;
  }

  .photo-list__item-container {
    padding: 0;
  }

  .photo-list__rating {
    padding-top: 12px;
  }

  .photo-list__item-container--vast {
    width: 100%;
  }

  .photo-list__item--less:nth-child(even) {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .photo-list__item {
    flex-basis: 33.33333%;
  }

  .photo-list__item-container {
    margin-right: -0.11111%;
  }
}
