.reasons {
  display: flex;
  flex-direction: column;
}

.reasons__header {
  margin: 0 auto;
  padding-top: 37px;
  padding-right: 9%;
  padding-left: 9%;
  max-width: 505px;
  text-align: center;
  background-color: @main-backcolor;
}

.reasons__intro {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 4px;
}

.main-reason {
  position: relative;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 70px;
  list-style: none;
  background-color: @main-backcolor;
}

.main-reason__title--feature {
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 10px;
}

.main-reason__text {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 27px;
  line-height: 21px;
}

.advantage-list__item-wrapper--main {
  height: 451px;
}

.advantage-list__item-wrapper--town {
  height: 490px;
  background-image: url("../img/bg-triangle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
}

.advantage-list__item-container {
  color: @nav-color;
  background-color: @nav-backcolor;
}

.another-list__item {
  box-shadow: 0 1px 0 0 #d6d6d6;
}

.advantage-list__item-wrapper {
  text-align: center;
}

.advantage-list__item-wrapper--tourist {
  box-shadow: none;
}

.additional-list__wrapper {
  padding-right: 6.25%;
  padding-left: 6.25%;
}

.additional-list {
  background-color: #eeeeee;
}

.advantage-list__item-container--city {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 260px;
  background-position: 0 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
  }
}

.advantage-list__item-container--reasons-bridge {
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 260px;
  background-position: 0 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }
}

.reasons__intro,
.main-reason__text,
.addl-reasons-number,
.addl-reasons__text {
  color: @text-color;
}

.number {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.advantage-list__item-wrapper--additional {
  padding-right: 14px;
  padding-left: 14px;
}

.addl-reasons__text {
  margin: 0;
  padding-bottom: 25px;
  line-height: 21px;
}

.reasons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons__slogan,
.main-reason__title--feature,
.main-reasons__title,
.addl-reasons__title {
  margin: 0;
  padding: 0;
  font-size: @title-size;
  font-weight: @title-weight;
  line-height: @text-height;
}

.addl-reasons__title {
  padding-top: 28px;
}

.main-reasons__title {
  padding-top: 40px;
}

.main-reasons__title--true-town {
  padding-top: 78px;
}

.main-reasons__number {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 21px;
}

.main-reasons__text {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 24px;
  padding-left: 24px;
  line-height: 21px;
}

.main-reason__features--habit::before {
  content: "";
  position: absolute;
  top: 6%;
  left: 20px;
  height: 40px;
  width: 40px;
  background-image: url("../img/icon-house.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-reason__features--souvenir::before {
  content: "";
  position: absolute;
  top: 38%;
  left: 23px;
  height: 40px;
  width: 40px;
  background-image: url("../img/icon-gift.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-reason__features--food::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 20px;
  height: 40px;
  width: 40px;
  background-image: url("../img/icon-burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .reasons {
    margin: 0;
    width: auto;
  }

  .reasons__header {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .reasons__intro {
    margin-top: 26px;
  }

  .advantage-list__item-container {
    display: flex;
    flex-direction: row;
    background-size: 66.5% 256px;
    height: 256px;
  }

  .advantage-list__item-container--bridge {
    flex-direction: row-reverse;
  }

  .advantage-list__item-wrapper--main {
    padding: 0;
    height: 256px;
    width: 33.5%;
  }

  .advantage-list__item-wrapper--additional {
    padding: 0;
  }

  .advantage-list__item-container--city {
    background-image: url("../img/main-city-tablet@1x.jpg");
    background-position: right;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
    }
  }

  .advantage-list__item-container--reasons-bridge {
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-position: left;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }

  .reasons__slogan,
  .main-reason__title--feature,
  .main-reasons__title,
  .addl-reasons__title {
    font-size: 21px;
    font-weight: @title-weight;
    line-height: 26px;
  }

  .reasons__slogan {
    display: inline-block;
    padding-top: 5px;
  }

  .main-reason {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .main-reason__features {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 147px;
    text-align: center;
  }

  .main-reasons__title {
    padding-top: 45px;
    padding-right: 20.6%;
    padding-left: 20.7%;
  }


  .main-reasons__text,
  .main-reason__text {
    padding-right: 18%;
    padding-left: 18%;
  }

  .main-reasons__text {
    padding-top: 21px;
  }

  .main-reasons__text--devil {
    padding-top: 22px;
  }

  .food-text {
    padding-right: 20%;
    padding-left: 19%;
  }

  .main-reason__text {
    padding-bottom: 61px;
  }

  .advantage-list__item-wrapper--town {
    background-image: none;
  }

  .main-reason__title--feature {
    padding-top: 13px;
    padding-bottom: 5px;
  }

  .main-reason__features--souvenir {
    order: 1;
  }

  .main-reason__features--habit,
  .main-reason__features--souvenir,
  .main-reason__features--food {
    position: relative;
  }

  .main-reason__features--habit::before,
  .main-reason__features--souvenir::before,
  .main-reason__features--food::before {
    top: 60px;
    width: 75px;
    height: 72px;
  }

  .main-reason__features--habit::before {
    left: 36%;
  }

  .main-reason__features--food::before {
    left: 36%;
  }

  .main-reason__features--souvenir::before {
    left: 38%;
  }

  .additional-list__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .another-list__item {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 33.33333%;
    box-shadow: none;
  }

  .addl-reasons__title {
    padding-top: 45px;
    padding-right: 23%;
    padding-left: 23%;
  }

  .number {
    padding-top: 7px;
  }

  .addl-reasons__text {
    padding-top: 5px;
    padding-bottom: 43px;
    padding-right: 21%;
    padding-left: 21%;
  }

  .addl-reasons__text--places {
    padding-right: 19%;
    padding-left: 19%;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
  }

  .main-reason__text {
    padding-bottom: 82px;
  }

  .main-reasons__title {
    padding-top: 53px;
    padding-right: 31%;
    padding-left: 31.4%;
  }

  .main-reasons__text {
    padding-top: 22px;
    padding-right: 14%;
    padding-left: 15%;
  }

  .advantage-list__item-container--city {
    background-image: url("../img/main-city-desktop@1x.jpg");
    background-size: 800px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
    }
  }

  .advantage-list__item-container--reasons-bridge {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-size: 800px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }

  .devil-bridge__text {
    padding-right: 23%;
    padding-left: 22%;
  }

  .main-reason__features--habit::before,
  .main-reason__features--food::before {
    left: 41%;
  }

  .main-reason__features--souvenir::before {
    left: 43%;
  }

  .main-reason__text--souvenir--food {
    padding-right: 12%;
    padding-left: 12%;
  }

  .main-reason__text--souvenir {
    padding-right: 20%;
    padding-left: 20%;
    white-space: pre-line;
  }

  .addl-reasons__text {
    padding-bottom: 64px;
    padding-right: 13%;
    padding-left: 13%;
  }

  .addl-reasons__text--road {
    padding-right: 16%;
    padding-left: 16%;
  }

  .addl-reasons__title {
    padding-right: 30%;
    padding-left: 30%;
  }
}
