.reasons {
  display: flex;
  flex-direction: column;
}

.reasons__header {
  margin: 0 auto;
  padding-top: 37px;
  padding-right: 9%;
  padding-left: 9%;
  max-width: 505px;
  text-align: center;
  background-color: @main-backcolor;
}

.reasons__intro {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 4px;
  color: @text-color;
}

.reasons__slogan {
  margin: 0;
  padding: 0;
  font-size: @title-size;
  font-weight: @title-weight;
  line-height: @text-height;
}

@media (min-width: @tablet-width) {
  .reasons {
    margin: 0;
    width: auto;
  }

  .reasons__header {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .reasons__intro {
    margin-top: 26px;
  }

  .reasons__slogan {
    display: inline-block;
    padding-top: 5px;
    font-size: 21px;
    font-weight: @title-weight;
    line-height: 26px;
  }
}

@media (min-width: @desktop-width) {
  .reasons {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
  }
}
