.multimedia__video-container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 200px;
}

.multimedia__video {
  padding-bottom: 44px;
  min-height: 460px;
}

.multimedia__title--video {
  display: block;
  padding-top: 33px;
  padding-right: 6%;
  padding-left: 6%;
}

.multimedia__text--video {
  padding-bottom: 37px;
  box-shadow: none;
}

.multimedia__video-interface {
  position: absolute;
  bottom: -68px;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  height: 112px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 40%, #f2f2f2 40%);
}

.multimedia__video-scale {
  position: relative;
  padding: 0 20px;
  height: 45px;
  overflow: hidden;
}

.scale {
  margin-top: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: 18px;
  left: 58px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.multimedia-controls__replay-btn,
.multimedia-controls__subtitles-btn,
.multimedia-controls__fullscreen-btn {
  margin-top: 20px;
  padding: 0;
  border: 0;
  opacity: 0.7;
  background-color: transparent;
  cursor: pointer;
}

.multimedia-controls__replay-btn:hover,
.multimedia-controls__subtitles-btn:hover,
.multimedia-controls__fullscreen-btn:hover {
  opacity: 1;
}

.multimedia-controls__replay-btn:active,
.multimedia-controls__subtitles-btn:active,
.multimedia-controls__fullscreen-btn:active {
  opacity: 0.3;
}

.multimedia-controls__replay-btn {
  margin-right: 129px;
  margin-left: 25px;
}

.multimedia-controls__subtitles-btn {
  margin-right: 28px;
}

.multimedia-controls__replay-icon,
.multimedia-controls__subtitles-icon,
.multimedia-controls__fullscreen-icon {
  fill: #333333;
}

@media (min-width: @tablet-width) {
  .multimedia__title--video {
    padding-top: 67px;
  }

  .multimedia__text--video {
    padding-bottom: 74px;
  }

  .multimedia__video-container {
    width: 648px;
    height: 500px;
  }

  .multimedia__video-interface {
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    margin-left: 0;
    width: 648px;
    height: 93px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .multimedia__video-scale {
    margin-right: 18px;
  }

  .scale {
    width: 392px;
  }

  .range-toggle {
    left: 132px;
  }

  .multimedia-controls__replay-btn,
  .multimedia-controls__subtitles-btn,
  .multimedia-controls__fullscreen-btn {
    margin-top: 0;
    background-color: transparent;
    opacity: 1;
  }

  .multimedia-controls__replay-btn {
    order: -1;
    margin-right: 22px;
    margin-left: 35px;
  }

  .multimedia-controls__replay-btn:hover,
  .multimedia-controls__subtitles-btn:hover,
  .multimedia-controls__fullscreen-btn:hover {
    opacity: 0.6;
  }

  .multimedia-controls__replay-btn:active,
  .multimedia-controls__subtitles-btn:active,
  .multimedia-controls__fullscreen-btn:active {
    opacity: 0.3;
  }

  .multimedia-controls__replay-icon,
  .multimedia-controls__subtitles-icon,
  .multimedia-controls__fullscreen-icon {
    fill: #ffffff;
  }

  .multimedia-controls__subtitles-btn {
    margin-right: 31px;
  }
}

@media (min-width: @desktop-width) {
  .multimedia__video-container {
    margin: 0 auto;
    width: 800px;
  }

  .multimedia__title--video {
    padding-top: 71px;
  }

  .multimedia__video {
    padding-bottom: 91px;
  }

  .multimedia__video-dummy {
    width: 100%;
  }

  .multimedia__text--video {
    padding-bottom: 71px;
  }

  .multimedia__video-interface {
    width: 800px;
  }

  .multimedia__video-scale {
    margin-right: 21px;
  }

  .scale {
    width: 537px;
  }
}
